<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tyrion.plugin.umeng" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>UmengSdkPlugin</name>
	<preference name="APP_KEY" />
	<preference name="CHANNEL_ID" />
	<js-module name="UmengSdkPlugin" src="www/UmengSdkPlugin.js">
		<clobbers target="cordova.plugins.UmengSdkPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="UmengSdkPlugin">
				<param name="android-package" value="com.tyrion.plugin.umeng.UmengSdkPlugin" />
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.INTERNET"></uses-permission>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:value="$APP_KEY" android:name="UMENG_APPKEY"></meta-data>
			<meta-data android:value="$CHANNEL_ID" android:name="UMENG_CHANNEL"/>
        </config-file>

		<source-file src="src/android/UmengSdkPlugin.java" target-dir="src/com/tyrion/plugin/umeng" />
		<source-file src="src/android/umeng-analytics-v5.6.4.jar" target-dir="libs" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="UmengSdkPlugin">
				<param name="ios-package" value="UmengSdkPlugin" />
			</feature>
		</config-file>
        
        <!--config-file-->
        <resource-file src="src/ios/UmengConfig.plist"/>
        
        <!--Operation-->
        <header-file src="src/ios/UmengSdkPlugin.h"/>
        <source-file src="src/ios/UmengSdkPlugin.m"/>
        
        <!--UmengSDK-->
        <header-file src="src/ios/UMAnalytics_Sdk_3.6.6/MobClick.h"/>
        <header-file src="src/ios/UMAnalytics_Sdk_3.6.6/MobClickSocialAnalytics.h"/>
        <source-file src="src/ios/UMAnalytics_Sdk_3.6.6/libMobClickLibrary.a" framework="true" />
        
        <!--config-file-->
        <config-file target="*UmengConfig.plist" parent="params">
            <dict>
                <key>APP_KEY</key>
                <string>$APP_KEY</string>
                <key>CHANNEL_ID</key>
                <string>$CHANNEL_ID</string>
            </dict>
        </config-file>

	</platform>
</plugin>